<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .bg-bluey-light {
                background-color: #d4eaf7;
            }

            .bg-bluey-medium {
                background-color: #80c4f4;
            }

            .bg-bluey-dark {
                background-color: #4a4e78;
            }
        </style>
    </head>
    <body>
        <footer class="bg-bluey-dark text-white text-center p-4">
            <p>Veterinaria Cruz Azul &copy; 2024</p>
        </footer>
    </body>
</html>
