<div class="bg-sky-500 text-white p-4 flex justify-between items-center fixed w-full z-20" style="background-color: #60A5FA;">

    <div class="container mx-auto flex justify-between items-center">
        
        <button id="hamburger-btn" class="text-white focus:outline-none">
        </button>

        <a href="/lostpaws/presentacion/landingPage.php" class="flex justify-center items-center">
            <img
                src="/lostpaws/assets/imagenes/logoLostPaws.png"
                alt="Logo"
                class="h-12"
            />
        </a>
        <a
            href="/lostpaws/negocio/cerrarSesion.php"
            class="bg-blue-900 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
            Cerrar Sesión
        </a>
    </div>
</div>