<div
    class="bg-sky-500 text-white p-4 flex justify-between items-center fixed w-full z-20"
>
    <div class="container mx-auto flex justify-between items-center">
        <button id="hamburger-btn" class="text-white focus:outline-none">
            <!-- Icono de hamburguesa -->
            <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"
                ></path>
            </svg>
        </button>
        <a href="#" class="flex justify-center items-center">
            <img
                src="../assets/imagenes/logoLostPaws.png"
                alt="Logo"
                class="h-12"
            />
        </a>
        <a
            href="../negocio/cerrarSesion.php"
            class="bg-blue-900 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
        >
            Cerrar Sesión
        </a>
    </div>
</div>