<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LostPaws</title>
        <style>
            .bg-bluey-light {
                background-color: #d4eaf7;
            }

            .bg-bluey-medium {
                background-color: #80c4f4;
            }

            .bg-bluey-dark {
                background-color: #4a4e78;
            }

            .hover-darken:hover {
                filter: brightness(0.9);
            }
        </style>
    </head>
    <body>
        <div
            class="bg-bluey-light text-white p-4 flex justify-between items-center fixed w-full z-20"
        >
            <div class="container mx-auto flex justify-between items-center">
                <button
                    id="hamburger-btn"
                    class="text-white focus:outline-none"
                >
                    <!-- Icono de hamburguesa -->
                    <svg
                        class="w-8 h-8"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"
                        ></path>
                    </svg>
                </button>

                <a
                    href="/lostpaws/presentacion/landingPage.php"
                    class="flex justify-center items-center"
                >
                    <img
                        src="/lostpaws/assets/images/logoLostPaws.png"
                        alt="Logo"
                        class="h-12"
                    />
                </a>
                <a
                    href="/lostpaws/negocio/cerrarSesion.php"
                    class="bg-bluey-dark hover-darken text-white font-bold py-2 px-4 rounded"
                >
                    Cerrar Sesión
                </a>
            </div>
        </div>
    </body>
</html>
