<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LostPaws</title>
        <style>
            .bg-bluey-light {
                background-color: #d4eaf7;
            }

            .bg-bluey-medium {
                background-color: #80c4f4;
            }

            .bg-bluey-dark {
                background-color: #4a4e78;
            }

            .hover-lighten:hover {
                filter: brightness(1.1);
            }
        </style>
    </head>
    <body>
        <div
            class="bg-bluey-light text-white p-4 flex justify-between items-center fixed w-full z-20"
        >
            <div class="container mx-auto flex justify-between items-center">
                <button
                    id="hamburger-btn"
                    class="text-white focus:outline-none"
                ></button>
                <a href="./" class="flex justify-center items-center">
                    <img
                        src="/lostpaws/assets/images/logoLostPaws.png"
                        alt="Logo"
                        class="h-12"
                    />
                </a>
                <a
                    href="/lostpaws/presentacion/login.php"
                    class="bg-bluey-dark hover-lighten text-white font-bold py-2 px-4 rounded"
                >
                    Inicio Sesión
                </a>
            </div>
        </div>
    </body>
</html>
