<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<aside
id="menu"
class="fixed inset-y-0 left-0 transform -translate-x-full bg-blue-800 text-white w-64 overflow-auto transition-transform duration-300 ease-in-out mt-20"
>
<a href="#adopta" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 shadow-indigo-500/40 hover:shadow-blue-500/70 hover:shadow-lg">Adopta</a>
<a href="#nosotros" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Nosotros</a>
<a href="#sedes" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Sedes</a>
<a href="#donar" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Donar</a>
<a href="#contacto" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Contactos</a>
<a href="#testimonios" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Testimonios</a>
<a href="#redes" class="block p-5 hover:bg-blue-700 hover:bg-opacity-75 hover:outline-offset-2 hover:shadow-blue-500/70 hover:shadow-lg">Redes</a>
</aside>